@import "tailwindcss";
@import "basecoat-css";
@import "./font/font_output.css";
@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

table img {
  width: 1rem;
}

.test-case-hidden .test-case-content {
  display: none;
}

[role="tab"] img {
  width: 1rem;
}
