@import "tailwindcss";
@import "basecoat-css";
@import "./font/font_output.css";
@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

[role="tab"] img,
.leaderboard img {
  width: 1rem;
}

.test-case {
  border-radius: var(--radius-xl);
  border-style: var(--tw-border-style);
  border-width: 1px;
  background-color: var(--color-card);
  padding-block: calc(var(--spacing) * 6);
  color: var(--color-card-foreground);

  &.test-case-hidden {
    & .test-case-header img {
      transform: rotate(0);
    }

    & .test-case-content {
      display: none;
    }
  }

  & .test-case-header {
    display: flex;
    justify-content: end;
    height: 3rem;
    align-items: center;

    & .test-case-title {
      flex-grow: 1;
    }

    & img {
      transition: transform 0.5s ease;
      transform: rotate(90deg);
      vertical-align: middle;
    }
  }

  & .test-case-columns {
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: 0.5rem;

    &.test-case-1-columns {
      --columns: 1;
    }

    &.test-case-2-columns {
      --columns: 2;
    }

    &.test-case-3-columns {
      --columns: 3;
    }
    & .code-pre {
      overflow: auto;
      min-height: 15rem;
    }
  }
}

.diff-tag-insert {
  color: green;
}

.diff-tag-delete {
  color: red;
}

.validation-error {
  color: red;
}

.code-pre {
  overflow: auto;
  min-height: 8rem;
  max-height: 32rem;
  padding: 0.5rem;
}
