{% macro achievement_widget(achievement) %}
    <div class="grid grid-cols-[3rem_1fr] gap-3 p-3 rounded-lg">
        <div class="row-span-3">
            <div class="p-2 rounded-full w-[fit-content]
                        {% if achievement.awarded_at %}bg-byte-brown-500{% endif %}">{{ achievement.achievement | get_achievement_icon | safe }}</div>
        </div>
        <div class="flex-1">
            <div class="font-medium
                        {% if achievement.awarded_at %}
                            text-white
                        {% else %}
                            text-byte-brown-200
                        {% endif %}">{{ achievement.achievement | get_achievement_name }}</div>
            <div class="text-sm text-byte-brown-200">{{ achievement.achievement | get_achievement_description }}</div>
        </div>
        {% if achievement.progress and achievement.total %}
            <div class="col ">
                <div class="rounded-full h-2 bg-byte-brown-500 w-full">
                    <div class="h2 rounded-full h-2 bg-byte-green-700"
                         style="width: {{ achievement.progress * 100 / achievement.total }}%"></div>
                </div>
            </div>
        {% endif %}
        <div class="text-xs text-byte-brown-200 flex justify-between">
            <div>
                {% if achievement.awarded_at %}Earned {{ achievement.awarded_at | format_date }}{% endif %}
            </div>
            {% if achievement.total_awarded > -1 %}<div>{{ achievement.total_awarded }} Awarded</div>{% endif %}
        </div>
    </div>
{% endmacro achievement_widget %}
