<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    {% block head %}
      {% block title %}
        <title>Byte Heist</title>
      {% endblock title %}
      {% block description %}
        <meta name="description" value="Yet Another Golf Site" />
      {% endblock description %}
      <meta name="keywords" value="code-golf" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta charset="UTF-8" />
      <link rel="icon" href="/static/favicon.svg" />
    {% endblock head %}
    {% block scripts %}
      {{ modules(modules="js/index.ts") | safe }}
    {% endblock scripts %}
    {% if dev %}
      <!-- temporary hacks to get webworkers to work during dev -->
      <script>
          (() => {
              const OriginalWebWorker = window.Worker;

              class Worker extends OriginalWebWorker {
                  constructor(original_url, type) {
                      function getWorkerURL(url) {
                          const content = `import a from ${JSON.stringify(url)};`;
                          return URL.createObjectURL(new Blob([content], {
                              type: "text/javascript"
                          }));
                      }
                      const worker_url = getWorkerURL(original_url);
                      super(worker_url, type);
                      URL.revokeObjectURL(worker_url);
                  }
              }

              window.Worker = Worker;
          })();
      </script>
    {% endif %}
  </head>
  <body class="bg-byte-green-950 flex min-h-screen flex-col">
    <header class="sticky top-0 z-50 bg-byte-green-950 text-byte-green-700 py-4 px-4 sm:px-6 md:px-8 lg:px-28 shadow-lg transition-colors duration-300">
      <div class="max-w-8xl mx-auto flex justify-between items-center">
        <div class="flex items-center">
          <a href="/"
             class="flex items-center gap-2 text-byte-green-700 hover:text-white transition-all duration-200">
            {# <img src="/static/favicon.svg" width="30" alt="Byte Heist" /> #}
            <span class="font-kode font-bold text-lg sm:text-xl">ByteHeist</span>
          </a>
        </div>
        <div class="flex items-center gap-2 sm:gap-4 md:gap-6 lg:gap-8">
          <a href="/doc"
             class="text-white hover:text-white font-inter font-medium text-xs sm:text-sm transition-all duration-100 hover:underline">Docs</a>
          <a href="/heists"
             class="text-white hover:text-white font-inter font-medium text-xs sm:text-sm transition-all duration-100 hover:underline">Heists</a>
          <a href="/leaderboard/code-golf"
             class="text-white hover:text-white font-inter font-medium text-xs sm:text-sm transition-all duration-100 hover:underline">Leaderboard</a>
          {% if account %}
            <a href="/user/{{ account.id }}"
               class="flex items-center gap-2 text-white hover:text-white font-kode transition-all duration-100 hover:underline">
              {# <span class="hidden sm:inline">{{ account.username }}</span> #}
              <img src="{{ account.avatar }}&size=34"
                   width="34"
                   class="rounded-full w-8 h-8 sm:w-8 sm:h-8"
                   alt="{{ account.username }} profile picture" />
            </a>
          {% else %}
            <a href="/login/github"
               class="inline-flex h-8 sm:h-10 items-center justify-center rounded-md bg-green-600 px-4 sm:px-6 md:px-8 text-xs sm:text-sm font-medium text-white shadow transition-colors gap-1 sm:gap-2 hover:bg-green-700 focus-visible:outline-none focus-visible:ring-1">
              <span class="hidden sm:inline">Sign in</span>
              <span class="sm:hidden">Sign in</span>
              {% include "icons/Github--Streamline-Unicons.svg" %}
            </a>
          {% endif %}
        </div>
      </div>
    </header>
    <main class="flex-1 bg-byte-brown-950">
      {% block full_content %}
        <div class="max-w-8xl mx-auto py-8 px-4 sm:px-6 md:px-8 lg:px-28 mt-10">
          {% block content %}
          {% endblock content %}
        </div>
      {% endblock content %}
    </main>
    <footer class="w-full border-t border-byte-brown-200/10 py-6 bg-byte-brown-950 px-4 sm:px-6 md:px-8 lg:px-28 text-byte-brown-200/60">
      <div class="max-w-8xl flex flex-col items-center justify-between gap-4 md:flex-row">
        <div class="flex items-center gap-2 font-semibold">
          <span class="text-md sm:text-md">ByteHeist</span>
        </div>
        <p class="text-md sm:text-md text-center md:text-left">© 2025 ByteHeist. All rights reserved.</p>
        <div class="flex gap-2 sm:gap-4">
          <a href="https://discord.gg/ugbfdgzpjK"
             class="text-md sm:text-md hover:text-white hover:underline underline-offset-4 flex items-center gap-1">
            {% include "icons/Discord--Streamline-Unicons.svg" %}
            <span class="hidden sm:inline">Discord</span>
          </a>
          <a href="https://github.com/mousetail/Byte-Heist"
             class="text-md sm:text-md hover:text-white hover:underline underline-offset-4 flex items-center gap-1">
            {% include "icons/Github--Streamline-Unicons.svg" %}
            <span class="hidden sm:inline">GitHub</span>
          </a>
        </div>
      </div>
    </footer>
    {% block post_content %}
    {% endblock post_content %}
  </body>
</html>
