{% extends "base/base.html.jinja" %}{% block content %}
        <h1 class="text-xl text-center">{{ object.title }}</h1>
        {%- if object.body -%}
          <pre>{{- object.body -}}</pre>
        {%- endif -%}
{% endblock content %}
