{% extends "base/base.html.jinja" %}
{% import "base/challenge_tabs.html.jinja" as challenge_tabs %}
{% import "base/test_cases.html.jinja" as test_cases %}
{% block content %}
  {% if object.id %}
    {{ challenge_tabs::challenge_tabs(active="post-mortem", id=object.id, name=object.name, author=object.author) }}
  {% endif %}
  <div class="lang-list tabs">
    {% for lang, lang_data in languages() %}
      <a href="/challenge/{{ object.id }}/{{ object.name | slugify }}/solutions/{{ lang }}"
         class="lang tab
                {% if object.language == lang %}active{% endif %}">
        <img width="32"
             src="/static/lang-icons/{{ lang_data.icon }}"
             alt=""
             class="lang-icon">
        {{ lang_data.displayName }}
      </a>
    {% endfor %}
  </div>
  {% for solution in object.solutions %}
    <div class="post-mortem-solution">
      {% if solution.code %}<pre class="code-pre code-pre-short">{{ solution.code }}</pre>{% endif %}
      <div class="horizontal-dl">
        <div>
          <dt>Runtime</dt>
          <dd>
            {{ solution.runtime }}
          </dd>
        </div>
        <div>
          <dt>Score</dt>
          <dd>
            {{ solution.score }}
          </dd>
        </div>
        <div>
          <dt>Author</dt>
          <dd>
            <a href="/user/{{ solution.author_id }}">
              {{ solution.author_name }}
              <img src="{{ solution.author_avatar }}" width="32" alt="">
            </a>
          </dd>
        </div>
        <div>
          <dt>Valid</dt>
          <dd>
            {% if solution.valid %}
              True
            {% else %}
              False
            {% endif %}
          </dd>
        </div>
        <div>
          <dt>Post Mortem</dt>
          <dd>
            {% if solution.is_post_mortem %}
              True
            {% else %}
              False
            {% endif %}
          </dd>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
