{% extends "base/base.html.jinja" %}
{% import "base/challenge_tabs.html.jinja" as challenge_tabs %}
{% import "base/test_cases.html.jinja" as test_cases %}
{% import "base/language_selector.html.jinja" as language_selector %}
{% block title %}
  <title>{{ object.name }} - Byte Heist</title>
{% endblock title %}
{% block description %}
  <meta name="description" value="{{ object.description }}" />
{% endblock description %}
{% block content %}
  {% if object.id %}
    {{ challenge_tabs::challenge_tabs(active="post-mortem", id=object.id, name=object.name, author=object.author) }}
  {% endif %}
  <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl text-white">{{ object.name }}</h1>
  {% set challenge_name = object.name | slugify %}
  {{ language_selector::language_selector(href=("/challenge/"~object.id ~ "/" ~ challenge_name ~ "/solutions/") , selected=object.language) }}
  {% for solution in object.solutions %}
    <div class="post-mortem-solution
                {% if solution.is_post_mortem %}post-mortem{% endif %}">
      <div class="solution-metadata">
        <dl>
          <dt>Author</dt>
          <dd>
            <a href="/user/{{ solution.author_id }}">
              <img src="{{ solution.author_avatar }}" width="32" alt="">
              <span>{{ solution.author_name }}</span>
            </a>
          </dd>
          <dt>Points</dt>
          <dd>
            {{ solution.points }}
          </dd>
          <dt>Runtime</dt>
          <dd>
            {{ 1000 * solution.runtime | round }} ms
          </dd>
          <dt>Valid</dt>
          <dd>
            {% if solution.valid %}
              True
            {% else %}
              False
            {% endif %}
          </dd>
          <dt>Post Mortem</dt>
          <dd>
            {% if solution.is_post_mortem %}
              True
            {% else %}
              False
            {% endif %}
          </dd>
        </dl>
      </div>
      {% if solution.code %}<pre class="code-pre code-pre-short">{{ solution.code }}</pre>{% endif %}
    </div>
  {% endfor %}
{% endblock content %}
