{% extends "base/base.html.jinja" %}
{% import "base/challenge_tabs.html.jinja" as challenge_tabs %}
{% import "base/test_cases.html.jinja" as test_cases %}
{% block title %}
  <title>{{ object.name }} - Byte Heist</title>
{% endblock title %}
{% block description %}
  <meta name="description" value="{{ object.description }}" />
{% endblock description %}
{% macro vote_button(is_upvote, reactions) %}
  <button type="submit"
          name="is_upvote"
          value="{{ is_upvote }}"
          class="btn"
          title="{%- for reaction in reactions -%} {{- reaction.author_username -}}, {%- endfor -%}"
          {% if account %}
            {% for reaction in reactions %}
              {% if account.id == reaction.author_id %}disabled{% endif %}
          {% endfor %}
          {% else %}
          disabled
          {% endif %}>
    {{ reactions | length }}
    {% if is_upvote %}
      👍
    {% else %}
      👎
    {% endif %}
  </button>
{% endmacro %}
{% macro comment(com) %}
  <div class="comment" id="comment-{{ com.id }}">
    <div class="comment-author">
      <a href="/user/{{ com.author_id }}">
        <img src="{{ com.author_avatar }}"
             width="64"
             alt="{{ com.author_username }}">
        <div class="comment-author-name">{{ com.author_username }}</div>
      </a>
      <form class="comment-reactions"
            method="post"
            action="/challenge/{{ object.id }}/{{ object.name | slugify }}/view/vote">
        <input type="hidden" name="comment_id" value="{{ com.id }}">
        {{ self::vote_button(is_upvote=true, reactions=com.up_reactions) }}
        {{ self::vote_button(is_upvote=false, reactions=com.down_reactions) }}
      </form>
      {%- if com.diff -%}<i class="text-xs">This suggestion will automatically be accepted if it gets enough 👍</i>
    {% endif %}
  </div>
  <div class="comment-content">
    {%- if com.diff -%}
      <span class="
                   {% if com.diff.status == 'active' %}
                     bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300
                   {% elif com.diff.status == 'rejected' %}
                     bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300
                   {% elif com.diff.status == 'accepted' %}
                     bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300
                   {% endif %}
                   text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm">{{ com.diff.status }}</span>
    {%- endif -%}
    {{- com.message | markdown -}}
  </div>
  {%- if com.diff -%}
    <div style="grid-column: span 3;">{{ test_cases::test_case_content(columns=com.diff.columns) }}</div>
  {%- endif -%}
  <div class="comment-children">
    {% for child in com.children %}{{ self::comment(com=child) }}{% endfor %}
  </div>
  {% if account and account.has_solved_a_challenge %}
    <form class="comment-reply"
          method="post"
          action="/challenge/{{ object.id }}/{{ object.name | slugify }}/view">
      <input type="hidden" name="parent" value="{{ com.id }}">
      <textarea name="message" placeholder="reply" class="textarea textarea-small"></textarea>
      <button type="submit">Reply</button>
    </form>
  {% endif %}
</div>
{% endmacro %}
{% block content %}
  {% if object.id %}
    {{ challenge_tabs::challenge_tabs(active="view", id=object.id, name=object.name, author=object.author) }}
  {% endif %}
  <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl text-white">{{ object.name }}</h1>
  <form class="challenge-reactions"
        method="post"
        action="/challenge/{{ object.id }}/{{ object.name | slugify }}/view/vote">
    {{ self::vote_button(is_upvote=true, reactions=object.up_reactions) }}
    {{ self::vote_button(is_upvote=false, reactions=object.down_reactions) }}
  </form>
  <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl text-white">Description</h2>
  <div id="description-container">{{ object.description | markdown }}</div>
  {% if account and account.has_solved_a_challenge %}
    <div class="flex justify-end">
      <button type="button"
              class="btn"
              data-for="description-container"
              data-name="description"
              data-value="{{- object.description -}}">edit</button>
    </div>
  {% endif %}
  <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl text-white">Judge</h2>
  <div id="judge-container">{{- object.judge | syntax_highlight(lang="js") -}}</div>
  {% if account and account.has_solved_a_challenge %}
    <div class="flex justify-end">
      <button type="button"
              class="btn"
              data-for="judge-container"
              data-name="judge"
              data-value="{{- object.judge -}}">edit</button>
    </div>
  {% endif %}
  <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl text-white">Example Code</h2>
  <div id="example-container">{{- object.example_code | syntax_highlight(lang="js") -}}</div>
  {% if account and account.has_solved_a_challenge %}
    <div class="flex justify-end">
      <button type="button"
              class="btn"
              data-for="example-container"
              data-name="example_code"
              data-value="{{- object.example_code -}}">edit</button>
    </div>
  {% endif %}
  <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl text-white">Comments</h2>
  {% for comment in object.comments %}{{ self::comment(com=comment) }}{% endfor %}
  {% if account and account.has_solved_a_challenge %}
    <form class="comment-reply"
          method="post"
          action="/challenge/{{ object.id }}/{{ object.name | slugify }}/view">
      <textarea name="message" class="textarea"></textarea>
      <button type="submit" class="btn btn-primary">Post new comment</button>
    </form>
  {% endif %}
{% endblock content %}
{% block post_content %}
  {{ modules(modules="js/comments.ts") | safe }}
{% endblock post_content %}
