<!-- Recent Achievements -->
<div class="border border-byte-brown-500 bg-byte-brown-700 rounded-lg">
    <div class="p-6">
        <h3 class="text-white flex items-center gap-2 text-lg font-semibold mb-4">
            {% include "icons/achievement-icon.svg" %}
            Recent Achievements
        </h3>
        <div>
            {% for achievement in object.recent_achievements %}
                {{ achievement_widget::achievement_widget(achievement=achievement) }}
            {% else %}
                No achievements earned yet
            {% endfor %}
            <div class="text-right">
                <a href="{{ object.account_info.username| slugify }}/achievements"
                   class="underline text-right">View all Achievements</a>
            </div>
        </div>
    </div>
</div>
